* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

aside {
  font-weight: 300;
}

body {
  background-color: $background-body;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.3em;
  color: $cor-base;
  padding-top: 2em;
}

h1 {
  font-size: 1.2em;
  @media (min-width: 767px) {
    font-size: 1.2em;
  }
}

h3 {
  font-size: 1.5em;
  line-height: 1.25;
  letter-spacing: .1em;
}

h2 {
  font-size: 16px;
}

section h3{
  margin-bottom: 5px;
}

section:nth-child(n+2) {
  @include padding-top-bottom(1em);
}

section:first-child {
  @include padding-top-bottom(1em);

  @media (min-width: 767px) {
    padding-bottom: 1em;
    padding-top:0;
  }
}

a {
  @include prefix((text-decoration: none));
  font-weight: bold;
  padding: 3px;
  border-radius: 5px;
  color: white;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(77, 96, 232, 0.3);
  background: -webkit-linear-gradient(315deg,#73a5ff, #5477f5);
  background: linear-gradient(135deg,#73a5ff, #5477f5);
  letter-spacing: 0.5px;
  font-size: 1.3rem;
  &:hover{
    background: -webkit-linear-gradient(315deg,lighten(#73a5ff,10), #5477f5);
    background: linear-gradient(135deg,lighten(#73a5ff,10), #5477f5);
  }
}

footer {
  @include padding-top-bottom(15px);
  margin-top: 1em;
  background-color: $background-alternativo;
  border-top: 2px solid $cor-br;

  div {
    display: flex;
    align-items: flex-start;
    text-align: center;
    height: 100%;
    justify-content: center;
  }

  * {
    @include padding-right-left(15px);
  }
}

li p:before {
  content: '*';
  color: $verde;
  font-weight: bold;
  margin-right: 5px;
}


span {
  display: none;
}

strong{
  font-weight: bold;
  color: $verde;
}
