* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

aside {
    font-weight: 300;
}

body {
    background-color: $background-body;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    color: $cor-base;
    padding-top: 2em;
}

h1 {
    font-size: 1.2em;

    @media (min-width: 767px) {
        font-size: 1.8em;
    }
}

h3 {
    font-size: 2.2em;
    line-height: 1.25;
    letter-spacing: .1em;

    //@include padding-top-bottom(10px);
    padding-bottom: 10px;
}

h2 {
    font-size: 16px;

    @media (min-width: 767px) {
        font-size: 1em;
    }
}

section:nth-child(n+2) {
    @include padding-top-bottom(1em);
}

section:first-child {
    @include padding-top-bottom(1em);

    @media (min-width: 767px) {
        padding-bottom: 1em;
        padding-top:0;
    }
}

a {
    color: $verde;

    @include prefix((text-decoration: none));

    font-weight: bold;
}

footer {
    @include padding-top-bottom(15px);

    margin-top: 1em;
    background-color: $background-alternativo;
    border-top: 2px solid $cor-br;

    div {
        display: flex;
        align-items: flex-start;
        text-align: center;
        height: 100%;
        justify-content: center;
    }

    * {
        @include padding-right-left(15px);
    }
}

li p:before {
    content: '*';
    color: $verde;
    font-weight: bold;
    margin-right: 5px;
}

span {
    display: none;
}
