* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    @include padding-top-bottom(1em);

    background: $cor1-gradient;
    background: -webkit-linear-gradient(to bottom, $cor1-gradient, $cor2-gradient);
    background: linear-gradient(to bottom, $cor1-gradient, $cor2-gradient);
    font-weight: 300;
    color: $background-alternativo;
    line-height: 2.3em;
}

body {
    background-color: $background-body;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    color: $cor-links;
}

h1 {
    font-size: 2.2em;
}

h3 {
    font-size: 2.2em;
    line-height: 1.25;
    letter-spacing: .1em;

    @include padding-top-bottom(10px);
}

h2 {
    font-size: 1.1em;
}

hr {
    color: $cor-links-hover;
}

img {
    position: relative;
    width: 50%;
    height: 50%;
}

section {
    @include padding-top-bottom(1em);
}

a {
    color: $cor1-gradient;

    @include prefix((text-decoration: none));

    font-weight: bold;
}

footer {
    @include padding-top-bottom(2em);

    margin-top: 4em;
    background-color: $cor-cinza;
    border-top: 2px solid $cor-br;

    div {
        display: flex;
        align-items: flex-start;
        text-align: center;
        height: 100%;
        justify-content: center;
    }

    * {
        @include padding-right-left(15px);
    }
}

li p:before {
    content: '*';
    color: $cor1-gradient;
    font-weight: bold;
    margin-right: 5px;
}

span {
    display: none;
}
