//======= FOTO E SOBRE ======
.foto {
    @include prefix((border-radius: 100%));

    @include prefix((box-shadow: 0 0 4px 4px $cor-links-hover));
}

.about {
    padding-top: 4em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    height: 100%;
    justify-content: center;
    margin: auto auto;

    p {
        @include padding-top-bottom(2em);
    }
}

.social {
    @include padding-top-bottom(2em);

    a {
        @include prefix((text-decoration: none));

        @include padding-right-left(3px);

        color: $cor-links;
        font-size: 2em;
        transition: 0.3s;
        position: relative;

        @media (min-width: 1025px) {
            font-size: 3em;

            &:hover {
                text-indent: 0;

                span {
                    visibility: visible;
                    display: inline-block;
                }
            }
        }
    }
}

span {
    @include padding-right-left(5px);

    @include padding-top-bottom(5px);

    @include prefix((border-radius: 4px));

    position: absolute;
    display: none;
    left: -.5em;
    top: 2.6em;
    background-color: $cor-links;
    visibility: hidden;
    color: #FFF;
    font-size: 0.4em;
    text-shadow: none;
}


//=========== LISTA HABILIDADES ===========

.lista-dev {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 100px;
}
