//======= FOTO E SOBRE ======
.home {
  width: 100%;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(77, 96, 232, 0.3);
  @include prefix((border-radius: 6px));
}

.frase {
  font-size: 16px;
  padding: 10px 0;
}

.list-formacao li{
  margin-bottom: 10px;
}

.titulo {
  padding-left: 0;

  h1 {
    font-weight: 900;
  }

  @media (min-width: 767px) {
    padding-left: 10px;

    @include padding-top-bottom(10px);
  }
}

.efeito {
  animation: hello 1s ease-in;
}

.about {
  display: flex;
  flex-wrap: wrap;
  font-size: 1em;
  justify-content: space-around;
  a {
    @include padding-right-left(5px);
    animation: links-hello 1s;
    animation-delay: 1s;
    padding: 18px;
    margin: 2px;
  }
  @media (min-width: 767px) {
    a{
      padding: 8px;
    }
  }

}

.social {
  @include padding-top-bottom(2em);
  text-align: center;
  a {
    @include prefix((text-decoration: none));
    @include padding-right-left(3px);
    font-size: 1.5em;
  }
}

//=========== LISTA HABILIDADES ===========

.lista-dev {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  font-size: 60px;
}

//============== footer sempre no bottom com flex :D =============
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-main {
  flex: 1;
}

.more-wiki{
  padding: 10px;
  font-size: 0.9em;
  background: white;
  border-radius: 5px;
  box-shadow: inset 0px 0px 3px black;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(77, 96, 232, 0.3);
}

.selected{
  color: $verde;
  background: rgba(0,0,0,.2);
  border-radius: 8px;
}
