@mixin open-sans-regular {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
@mixin open-sans-bold {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
@mixin open-sans-slim {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
@mixin sprite-logos-text ($name) {
    @include logos-sprite($name,true);
    @include hide-text;
}
@mixin sprite-social-text ($name) {
    @include social-sprite($name,true);
    @include hide-text;
}
@mixin sprite-skills-text ($name) {
    @include skills-sprite($name,true);
    @include hide-text;
}
//variables
$color-shadow: black;
$text-color: #eee;
$background-color: #fafafa;
$base-font-size: 22px;
$mq-mobile: 980px;
$base-line-height: 1.7em;
//logos variables
$logos-spacing: 5px;
$logos-layout: "smart";
//social variables
$social-spacing: 5px;
$social-layout: "horizontal";
//skils variables
$skills-spacing: 20px;
$skills-layout: "horizontal";
// variaveis do bar info
$gradiente-esquerda: darken(#f3f3f3,10);
$color-bar: #fff;
$border-color: #909090;
$text-color-bar: #333;

// background
@mixin add-bg {
    @include background(image-url("background.png") repeat fixed 100%);
    @include box-shadow($color-shadow 0 0 100px inset);
}

@mixin new-btn {
    @include background-image(linear-gradient(to bottom right, darken(#55c1ec,10), darken(#3689e6,10) 150%));
    @include border-radius(5px);
    padding: 5px 15px;
    background-color: #55c1ec;
    border: 1px solid #28618c;
    color: #004166;
    text-shadow: 0 1px 0 #80c5f0;
}
