.about {
    @include background(image-url("background.png"));
    @include display-flex;
    @include justify-content(center);
    @include flex-direction(column);
    @include text-shadow($color-shadow 0 0 5px);
    text-align: center;
    padding: 180px 15%;
    color: $text-color;
    @media(max-width: $mq-mobile) {
        padding: 180px 10%;
        text-align: justify;
    }

    img {
        @include box-shadow($color-shadow 0 0 22px);
        @include border-radius(100%);
        @include transition-duration(.5s);
        width: 250px;
        height: 250px;
        margin: 0 auto 2em;

        &:hover {
            @include border-radius(3px);
            @include scale(1.8);
        }
    }
}
