@include all-logos-sprites;

.linux-div {
    text-shadow: 0 1px 0 $border-color;

    h2 {
        text-align: center;
        margin: auto;
    }

    p {
        @include open-sans-slim;
    }

    ul {
        @include display-flex;
        @include flex-wrap(wrap);
        @include justify-content(center);
    }

    li {
        @include transition-duration(.3s);
        margin: 10px;
        position: relative;
    }

    li:hover {
        @include scale(0.9);
        @include rotate(-3deg);
        @include filter(saturate(6));
    }

    div {
        @include display-flex;
        @include justify-content(center);
        @include align-self(center);
    }
    @media (max-width: $mq-mobile) {
        padding: 180px 0;

        div {
            @include flex-direction(column);
            @include align-self(center);
        }

        .itens {
            width: 80%;
        }

        p {
            padding-top: 50px;
        }
    }
}

.itens {
    width: 50%;

    p {
        text-align: justify;
    }
}

.linux {
    @include sprite-logos-text(tux);
}

.gnu {
    @include sprite-logos-text(gnu);
}

.slackware {
    @include sprite-logos-text(slackware);
}

.debian {
    @include sprite-logos-text(debian);
}

.fedora {
    @include sprite-logos-text(fedora);
}

.gentoo {
    @include sprite-logos-text(gentoo);
}

.opensuse {
    @include sprite-logos-text(opensuse);
}
