@include all-logos-sprites;

.linux-div {
    text-shadow: 0 1px 0 $border-color;

    h2 {
        text-align: center;
        margin: auto;
    }

    ul {
        @include display-flex;
        @include flex-wrap(wrap);
        @include justify-content(space-around);
        @include align-items(center);
        @include flex-basis(50%);
    }

    li {
        @include transition-duration(.3s);
        margin: 10px;
    }

    li:hover {
        @include scale(0.9);
        @include rotate(-3deg);
        @include filter(saturate(6));
    }

    div {
        @include display-flex;
        @include flex-wrap(wrap);
        @include align-items(center);
    }
    @media (max-width: $mq-mobile) {
        p:first-child {
            padding-top: 50px;
        }

        p {
            padding-top: 10px;
        }

        ul {
            @include flex-basis(100%);
        }
    }
}

.paragrafos {
    @include open-sans-slim;
    @include flex-basis(50%);
    text-align: justify;
    @media (max-width: $mq-mobile) {
         @include flex-basis(100%);
    }
}

.linux {
    @include sprite-logos-text(tux);
}

.gnu {
    @include sprite-logos-text(gnu);
}

.slackware {
    @include sprite-logos-text(slackware);
}

.debian {
    @include sprite-logos-text(debian);
}

.fedora {
    @include sprite-logos-text(fedora);
}

.gentoo {
    @include sprite-logos-text(gentoo);
}

.opensuse {
    @include sprite-logos-text(opensuse);
}
